@using VentasNet.Infra.DTO.Request;
@model IEnumerable<ProductoRequest>

<div class="container mt-5">
    <h2>Tabla de Productos</h2>

    @Html.Partial("AgregarProducto", new ProductoRequest())
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>  
                <th>Codigo</th>
                <th>Modificar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ProductoRequest producto in ViewBag.Producto)
            {
                <tr>
                    <td>@producto.Id</td>
                    <td>@producto.NombreProducto</td>
                    <td>@producto.Descripcion</td>
                    <td>@producto.ImporteProducto</td>
                    <td>@producto.Codigo</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalModificarProducto_@producto.Id">Modificar</button>
                    </td>
                    <td>
                        <form asp-action="EliminarProducto" method="post">
                            <input type="hidden" name="id" value="@producto.Id" />
                            <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                        </form>
                    </td>
                </tr>
                <div class="modal fade" id="modalModificarProducto_@producto.Id" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel">Modificar Producto</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                @Html.Partial("ModificarProducto", producto)
                            </div>
                        </div>
                    </div>
                </div>
            }

        </tbody>
    </table>
</div>
